.button1{
    position: fixed; top:20px; left:600px;
}

.button2{
    position: fixed; top:20px; left:710px;
}

.button3{
    position: fixed; top:20px; left:800px;
}

.back-button{
    position: fixed; top:-23px; left: 575px;
}

.back2-button{
    position: fixed; top:-23px; left: 0 px;
}

.back3-button{
    position: fixed; top:-23px; left:175px;
}

.back4-button{
    position: fixed; top:-23px; left:975px;
}

.back5-button{
    position: fixed; top:-23px; left:1150px;
}

.t1{
    position: relative; top: 100px;
}

.frontend{
    position: relative; top:140px
}

.t2{
    position: relative; top:-180px; left: 500px;
}

